/* bodyInMotionextraStyle */
/* this file contains css which are missed in body in motion css files */
.full-screen-section {
    height: 100vh;
    /* background-image: url(/images/qarakusi.svg?3478734…); */
    background-color: grey;
    overflow: hidden;
    position: relative;
    background-size: 60px;
  }
  
  /* full top timer styles */
  
  @media (max-width: 1350px) {
    .quickdrav-full-section .full-top-timer {
      left: 0;
      right: 0;
    }
  }
  
  @media (max-width: 1199px) {
    .full-top-timer {
      right: inherit;
      left: 70px;
    }
  }
  
  @media (max-width: 1400px) {
    .full-top-timer {
      width: 330px;
      height: 48px;
    }
  }
  
  .full-top-timer {
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    margin: 0 auto;
    text-align: center;
    width: 410px;
    z-index: 1;
    transition: top 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
  }
  
  .full-top-timer-block {
    top: 0;
    transition: top 0.3s;
  }
  
  .full-top-timer img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom center;
    object-position: bottom center;
  }
  
  /* slide full arrow styles */
  
  .slide-full-arrow {
    width: 60px;
    height: 60px;
    border: solid 2px #fff;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 20px;
    top: 50%;
    margin: -25px auto 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    user-select: none;
  }
  
  @media (max-width: 1199px) {
    .slide-full-arrow {
      margin: auto 10px;
    }
  }
  
  .pan-container img {
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
  }
  
  .slide-full-arrow-right {
    left: inherit;
    right: 20px;
  }
  
  .full-bottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(36, 36, 36, 0.8);
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .bottom-slider-arrows-item {
    background-color: black;
    height: 60px;
    border-radius: 30px;
    padding: 0 56px;
    position: relative;
    margin-left: 25px;
  }
  
  @media (max-width: 991px) {
    .bottom-slider-arrows-item {
      padding: 0 50px 0 40px;
      margin-left: 80px;
    }
  }
  
  @media (max-width: 1199px) {
    .scale-icon-block {
      right: 100px;
    }
  }
  
  @media (max-width: 1199px) {
    .save-icon-block {
      left: 15px;
    }
  }
  
  .save-icon-block {
    position: absolute;
    left: 32px;
    top: 15px;
    display: flex;
    align-items: center;
  }
  
  .save-icon-block {
    display: flex;
    align-items: center;
  }
  
  .scale-icon-block {
    position: absolute;
    right: 165px;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .save-icon-block picture {
    width: 31px;
    height: 31px;
    margin-right: 7px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .save-icon-block picture img {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .save-icon-block span {
      display: none;
    }
  }
  
  .save-icon-block span {
    width: 75px;
    font-size: 8.5px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    font-family: Avenir Medium;
  }
  
  @media (max-width: 991px) {
    .bottom-slider-arrows-item {
      padding: 0 50px 0 40px;
      margin-left: 80px;
    }
  }
  
  .bottom-slider-arrows-item {
    background-color: black;
    height: 60px;
    border-radius: 30px;
    padding: 0 56px;
    position: relative;
    margin-left: 25px;
  }
  
  @media (max-width: 991px) {
    .slide-bottom-current-number {
      margin: 0 10px;
    }
  }
  
  .slide-bottom-current-number {
    font-family: Avenir Medium;
    margin: 0 19px;
    width: 33px;
  }
  
  .slide-bottom-current-number span {
    font-size: 9.5px;
  }
  
  @media (max-width: 991px) {
    .slide-bottom-current-number i {
      font-size: 20px;
    }
  }
  
  .slide-bottom-current-number i {
    font-style: normal;
    font-size: 28px;
    line-height: 1;
  }
  
  @media (max-width: 991px) {
    .bottom-slider-count {
      right: 20px;
    }
  }
  
  .bottom-slider-count {
    font-family: Avenir Medium;
    margin: 0;
    position: absolute;
    right: 28px;
    top: 16px;
    width: 18px;
  }
  
  .bottom-slider-count span {
    font-size: 9.5px;
  }
  
  .bottom-slider-count i {
    font-style: normal;
    font-size: 15px;
    line-height: 1;
  }
  
  @media (max-width: 991px) {
    .scale-icon-block {
      right: 85px;
    }
  }
  
  @media (max-width: 1199px) {
    .scale-icon-block {
      right: 100px;
    }
  }
  
  .scale-icon-block {
    position: absolute;
    right: 165px;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .scale-icon-plus {
    cursor: pointer;
  }
  
  .scale-icon-plus picture {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: solid 1px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scale-icon-plus picture img {
    width: 100%;
    height: 100%;
  }
  
  .scale-default-zoom {
    font-size: 8.5px;
    margin: 0 3.5px 7px;
    font-family: Avenir Medium;
  }
  
  .scale-default-zoom {
    font-size: 8.5px;
    margin: 0 3.5px 7px;
    font-family: Avenir Medium;
  }
  
  .fullscreen .motion-icon:not(.slide-arrow) {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
    margin: 0 5px;
  }
  
  .scale-default-zoom .motion-icon {
    width: 19px;
    height: 19px;
    margin: 8px 0 0 0 !important;
    border: none;
    background-color: #3d3d3f !important;
  }
  
  .scale-default-zoom .motion-icon img {
    width: 9px;
  }
  
  .scale-icon-minus {
    cursor: pointer;
  }
  
  .scale-icon-minus picture {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: solid 1px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scale-icon-minus picture img {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .exit-full-screen-icon-block {
      padding-left: 15px;
    }
  }
  
  .exit-full-screen-icon-block {
    position: absolute;
    right: 15px;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    margin-top: 0;
    padding-left: 29px;
    border-left: solid 4px #383838;
  }
  
  @media (max-width: 1199px) {
    .exit-full-screen-icon-block picture {
      margin-right: 0;
    }
  }
  
  .exit-full-screen-icon-block picture {
    width: 31px;
    height: 31px;
    margin-right: 7px;
    border-radius: 50%;
    border: solid 1px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .exit-full-screen-icon-block picture img {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .exit-full-screen-icon-block span {
      display: none;
    }
  }
  .exit-full-screen-icon-block span {
    width: 47px;
    font-size: 8.5px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    font-family: Avenir Medium;
  }