.choose-module-card-container{
    width:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    padding: 1.5rem 1.5rem 1rem;
    border-bottom: 2px solid #e5e5e5;
    
}

.card-body{
    padding: 1rem 1.5rem 1.5rem;   
    height: 300px;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width: none;
}