.footer{
    background-color: #fff;
    width: 100%;
    margin-top: auto;
    padding: 34px 0;
    position: absolute;
    bottom: 0;
}
.footer-container{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: auto;
}
.footer-content{
    display: flex;
}
.unordered li a{
    padding-left: 0;
    padding-right: 75px;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #999999;
    text-align: left;
}
li{
    margin-bottom: 7px;
}
li:hover{
    color: #858282;
}
.footer-icon a {
    background-color: transparent;
    margin: 0 16px;
    text-decoration: none;
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 100%;
    color: #ccc;
    width: 42px;
    height: 42px;
    margin: 0;
    font-size: 19px;
    line-height: 1;
}
.icon:hover{
    background-color: #ccc;
    color: #fff;
    transition: all .1s ease;
}
.scrool-to-top{
    color: #999;
    font-size: 34px;
    font-weight:700;
    line-height: 30px;
    width: 28px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: #fff;
}
@media(max-width:991px){
    .unordered{
        padding-right: 30px;
    }
}
@media(max-width:796px){
    .footer-content{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .footer-icon{
        width: 100%;
        margin-top: 30px;
    }
}
