.my-navbar {
  background-color: #539aaf;
  padding: 7px 55px;
  box-shadow: inset 0 -10px 15px rgba(0, 0, 0, .05);
  font-size: .848em;
  z-index: 10;
  height: 70px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
}

img {
  width: 7.6em;
  flex: 0 0 7.6em;
  display: inline-block;
  margin-right: 7.4em;
}

img:hover {
  cursor: pointer;
  color: #da4545;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  font-size: 1.1em;
}

.navbar-content ul {
  display: flex;
  align-items: center;
}

li {
  padding: 0 12px 0 11px;
  margin-bottom: 0;
}
li:hover{
  color: #ccc;
}

#quickdraw {
  border: 1.5px solid #fff;
  border-radius: 20px;
}
#quickdraw:hover{
  border: 1.5px solid #ccc;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.search-container {
  position: relative;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.search-container.active {
  width: 200px; 
}

.search-bar {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 45px;
  opacity: 1;
}

.search-bar::placeholder {
  font-size: 14px;
  color: #999;
}

button.search {
  background: none;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 13px;
}
.user:hover{
  color: #ccc;
  border: 1px solid #ccc;
}
.nav-acc{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.sidebar {
  position: fixed;
  top: 0;
  right: -300px; 
  height: 100%;
  width: 300px;
  background-color: #57595b;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 100;
}

.sidebar-header {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 25px;
}
.sidebar.active {
  right: 0; 
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  color: #fff;
  font-size: 15px;
}
.sidebar #quickdraw{
  width: 115px;
  padding: 4px;
  display: flex;
  justify-content: center;
}
.sidebar #quickdraw:hover{
  color: #ccc;
}

.nav-toggle {
  margin-left: auto;
  font-size: 33px;
  cursor: pointer;
}

.close-btn {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #fff;
  border-radius: 50%;
  padding: 5px;
  height: 24px;
  width: 24px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width:1100px){
  img{
      margin-right: 3rem;
  }
}
@media (min-width:1020px){
  .nav-toggle{
      display: none;
    }
}
@media (max-width:1020px){
  .navbar-content{
      display: none;
  }
  .nav-acc{
    display: none;
}
  .nav-toggle{
      margin-left: auto;
      font-size: 33px;
      cursor: pointer;
  }
  .my-navbar{
      padding: 7px 10px;
  }
}
