.reset-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 15px;
}
.heading{
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
    text-transform: uppercase;
}
form{
    margin-top: 20px;
}
.reset-label{
    color: #000;
    margin-bottom: .2em;
    margin-left: 1em;
    font-size: 1em;
    letter-spacing: 1px;
}
#reset-input{
    display: block;
    width: 100%;
    background-color: transparent;
    color: #000;
    border-radius: 1.5em;
    border: .1em solid #b8d5de;
    padding: .5em 1.4em;
    font-size: 1em;
    background-clip: padding-box;
}
.reset-button{
    background-color: #529cb2;
    color: #fff;
    border: 2px solid #529cb2;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 7px 30px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 2rem;
}
.reset-button:hover{
    background-color: #8bc2d3;
    border-color: #8bc2d3;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}