.full-screen-section {
    height: calc(var(--vh, 1vh) * 100);
    background-image: url(/images/qarakusi.svg?3478734…);
    overflow: hidden;
    position: relative;
    background-size: 60px;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .full-top-timer-block {
    top: 0;
    transition: top 0.3s;
  }
  
  .full-top-timer {
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    margin: 0 auto;
    text-align: center;
    width: 410px;
    z-index: 1;
    transition: top 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
  }
  
  .quickdraw-timer {
    font-size: 45px;
    color: #fff;
    z-index: 0;
    margin: 0 auto;
    letter-spacing: 4px;
    white-space: nowrap;
    text-align: center;
    line-height: 1;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    font-family: Orbitron-medium;
  }
  
  .full-top-timer img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom center;
    object-position: bottom center;
  }
  
  .slide-full-arrow {
      width: 60px;
      height: 60px;
      border: solid 2px #fff;
      border-radius: 50%;
      display: flex;
      position: absolute;
      left: 20px;
      top: 50%;
      margin: -25px auto 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.2);
  }

  .timer-span-extra-width{
    width:fit-content !important;
  }

  .play-pause-icon-container{
    justify-content:space-between;
  }
  
  .full-top-position-top{
    top:0 !important;
  }
  @media (max-width: 1350px) {
    .quickdrav-full-section .full-top-timer {
      left: 0;
      right: 0;
    }
    .quickdraw-timer {
      font-size: 36px;
    }
  }
  
  @media (max-width: 991px) {
    .full-top-timer {
      left: -14px;
      height: 38px;
      width: 270px;
    }
    .quickdraw-timer {
      font-size: 26px;
    }
  }
  
  @media (max-width: 1199px) {
    .full-top-timer {
      right: inherit;
      left: 70px;
    }
  }
  
  @media (max-width: 1400px) {
    .full-top-timer {
      width: 330px;
      height: 48px;
    }
    .quickdraw-timer {
      font-size: 40px;
    }
  }